img {
    width: 30%;
    height: 30%;
    margin: 1.25%;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: 1.25%;
    padding: 1.5em 0;
}